<!DOCTYPE html>
<html>
  <head>
    <title>VNPayDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/jumbotron-narrow.css" rel="stylesheet">
    <script src="/jquery-1.11.3.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
